         <tr>
            <td>{{ inventory_hostname }}</td>
            <td>
               <ul>
                  <li>{{ update_result.value.title }}</li>
               </ul>
            </td>
			<td>
               <ul>
{% for pending_reboot in update_result.reboot_required | dict2items %}
                      {{ pending_reboot.value.title }}
{% endfor %}
               </ul>
            </td>	
         </tr>
