         <tr>
            <td>{{ inventory_hostname }}</td>
            <td>
               <ul>
{% for k in update_result.updates %}
                  <li>{{ update_result.updates[k].title }}</li>
{% else %}
		  {{ "No updates available to Install" }}
{% endfor %}
               </ul>
            </td>
	    <td>
               <ul>
                      {{ update_result.reboot_required }}
               </ul>
            </td>	
         </tr>
