         <tr>
            <td>{{ inventory_hostname }}</td>
            <td>
               <ul>
{% for k in update_results.updates %}
                  <li>{{ update_results.updates[k].title }}</li>
{% endfor %}
               </ul>
            </td>
	    <td>
               <ul>
                      {{ pending_reboot.value.title }}
               </ul>
            </td>	
         </tr>
