         <tr>
            <td>{{ inventory_hostname }}</td>
            <td>
               <ul>
{% for win_update in list_of_updates.updates | dict2items %}
                  {% if win_update|length >=1 %}
                  <li>{{ win_update.value.title }}</li>
		  {% else %}
		  {{ "No updates available" }}
		  {% endif %}
{% endfor %}
               </ul>
            </td>
	    <td>
	    <ul>
	       {{ vol_part }}: {{ vol_part_free }} GB
	    </ul>
	    </td>
	    <td>
               <ul>
                  {{ pending_reboot.stdout_lines[0] }}
               </ul>
            </td>	
         </tr>
